.card{
    border-radius: 13px;
background: #a7d2c9;
box-shadow:  6px 6px 12px #8eb3ab,
             -6px -6px 12px #c0f2e7;
    margin: 30px;
    padding: 5px;
    
     
}

.card:hover{
    background: darkblue;
    color: white;
}

.cardImage img{
    padding: 5%;
    width: 90%;
}

.cardText{
    margin-top: -2rem;
    font-size: 1rem;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
    

}