.title{
    display: grid;
    height:100px;
    background: linear-gradient(steelblue, white,violet);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

