.navs{
    height: auto;
    background: cadetblue;
}

.navbar {
    width: 100%;
    background:blanchedalmond;
    overflow: auto;
    color: black bold;
  }
  
 
  .navbar h2 {
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15%; 
    text-align: center; 
    height: 10px;
  }

  