#cardsView {
    display: flex;
    flex-wrap: row;
    padding-right: 10px;
    margin: 2rem;
    
}

.heading{
    margin-top: 1rem;
    background: linear-gradient(skyblue,white,steelblue);
    justify-content: center;
}

.main{
    background: rgb(108, 156, 196);
    margin-top:2.5rem;
    height:auto;
}